.bill_details{  
    text-align: justify; 
} 
.bill_info{
    text-align: left;
} 
.blank-space 
{ 
    width: 80px; 
} 

.table-heads 
{ 
    float: left; 
} 
.icon 
{ 
    padding: 0; 
    vertical-align: baseline; 
}