.p-tagedited {
    display: inline;
}

.table-edits {
    /* display: flex; */
    float: right;
    padding-right: 10%;
}

.head-img {
    position: relative;
    /* top: 0;
    left: 0; */
}

.heading-hr {
    width: 85%;
    border: 1px solid black;
}

.signaturediv {
    /* border: 2px solid black; */
    float: right;
    text-align: center;
    padding-right: 10%;
}
/* ===================================================== */
.signature-table{
   
    text-align: center;
    width: 30%;
    position: absolute;
    left: 55%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.last-image-table{
    width: 100%;
}
.td-cells{
    text-align: center;
}

/* -------------------->>>>>>>>>>>>>> */