* {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.heading {
    font-size: 18px;
    font-weight: 200;
}

.detail {
    font-size: 14px;
}

.table-recipient {
    position: absolute;
    top: 0;
    right: 0;

}

.hr-tag {

    background-color: black;
}


.page {
    background: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: var(--pageShadow);
}

.page[size="A4"] {
    width: 793.7px;
    height: 1122.52px;
    overflow: hidden;
}

.heading {
    font-size: 18px;
    font-weight: 200;
}  
  
.detail {  
    font-size: 14px;  
}  

.table-recipient{
    position: absolute;
   top: 0;
   right: 0;

}
.hr-tag{
   
    background-color: black;
}

.border-table {
    border: 2px solid black;
}

.signature-table {

    text-align: center;
    width: 30%;
    position: absolute;
    left: 55%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.last-image-table {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.td-cells {
    text-align: center;
}