.home_hr {
    width: 50%;
    text-align: center;
    color: #4a68b1;
}

.dog-img {
    max-width: 100%;
    float: right;
}

#ourlot {
    background-image: url(/thebarkinglot/Images/05/Home-MB-13.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50vh;
}

.home_icon:hover {
    color: #FAEC4F;
}

/* Dog images */

.slide {
    position: relative;
}

.dog-images {
    width: 100%;
}

.slider-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.arrow_prev {
    font-size: 25px;
    cursor: pointer;
    left: 25px;
    position: relative;
    z-index: 1;
    color: #ffffff;
}

.arrow_next {
    font-size: 25px;
    cursor: pointer;
    right: 25px;
    position: relative;
    z-index: 1;
    color: #ffffff;

}

.dog-images img {
    width: 100%;
    position: relative;
}

/* Blog Page */
/* *{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}  */
.wave {
    background-color: #4a68b1;
}

.card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(57, 57, 57, 0.2), 0 6px 20px 0 rgba(54, 54, 54, 0.19);
    /*  */
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}