@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Spline+Sans:wght@300&display=swap');

.company-logo{
    
    width: 190px !important;
    margin-left: 40%;
    
}
.bg-color{
background-color: #4a68b1 !important;
}
.fontcolor{
    color: white !important;
    font-weight: 600 !important;
   /* justify-content: center; */
   font-size: 14px;
   font-family: 'Spline Sans', sans-serif;
    
}
@media  (max-width: 990px){
    .fontcolor{
        margin: 10px 30px;
    }
    .company-logo{
    
        width: 100px !important;
        margin-left: 25%;
        
    }

}
.fontcolor:hover{
    color: #ffff00 !important;
    
}
/* --------------------book free trail------------- */
.btn-bookfreetrail{
    border-radius: 25px;
    border: solid 2px yellow;
    color: white !important;
    font-weight: 600;
    padding: 15px
}

/* =========================================================== */
.dropdownhover:hover{
    background-color:#4A68B1 !important;
    
    
}/* whatsapp and phone icon rightsided */
.fixed-div{
    background-color: #4e68be;
    width: 50px;
    border-radius: 40px;
    position: fixed;
    right: 0;
    top: 50%;  
}
.icon{
   font-size:20px ;
   padding: 30%;
   color: #ffff00;
   
}
.icon:hover{
    color: #ffff;
}
/* ------------------------------------- */
.dropdown-menu{
   
    border-radius: 1px 0px;
}
/* .dropdown-item{
    background: #324982;
} */
/* 
.dropdown-menu a:hover {background-color:#24345f;} */

.dropdown:hover .dropdown-menu {display: block;}
.service-btn{
    background-color: #4A68B1;
    border: 0;
  
}
.d-content{
    display: contents;
}
/* =======================================================>>>>>>>>> */
/* fa-solid fa-bars{
    border: none !important;
    background-color: #4A68B1 !important;
} */
